.collection-card {
  border: 1px solid var(--hy-silver);
}

.collection-card:hover {
  cursor: pointer;
}

.collection-card-selected {
  background-color: var(--hy-light-silver);
}

.collection-card-header-row {
  border-bottom: 1px solid var(--hy-medium-silver);
}

.collection-card:hover .collection-card-header-row h4 {
  text-decoration: underline;
}
