.collection-card {
  border: 1px solid var(--hy-silver);
}
.collection-card-title {
  display: flex;
  justify-content: space-between;
}

.collection-card-title > a {
  flex-grow: 1;
  text-decoration-line: none;
  color: initial;
  word-break: break-all;
}

.collection-card-selected {
  background-color: var(--hy-medium-silver);
}

.collection-card-record-row {
  border-top: 1px solid var(--hy-medium-silver);
}

.collection-card-header-row span {
  font-size: 1.1em;
}

.collection-card-title:hover a {
  text-decoration: underline;
}
