.new-record-form {
  overflow: auto;
}

.new-record-button {
  width: 100%;
}

.new-record-form .container {
  margin-bottom: 20px;
}

.new-record-form .collection-keywords {
  margin-left: 12px;
  margin-right: 12px;
}

.new-record-form .collection-keywords-input {
  margin-right: 12px;
}