.new-record-progress-progress-bar {
  width: 100%;
  border-radius: 0px;
}

.new-record-progress-progress-bar .progress-bar {
  background-color: var(--hy-blue-light);
}

.new-record-progress-progress-bar.done .progress-bar {
  background-color: var(--hy-green);
}

.new-record-progress-progress-bar.error .progress-bar {
  background-color: var(--hy-red);
}

.new-record-progress-information {
  width: 100%;
}
