.record-error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
}

.record-error-page-content {
  background-color: var(--hy-light-silver);
  padding: 8px;
}

.record-error-page > div {
  margin-bottom: 8px;
}

.record-error-page-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

