.record-collections-middle-row {
  display: flex;
  justify-content: space-between;
}

.record-collections-middle-row svg {
  margin-left: 0.4em;
}

.record-collections-middle-row polygon {
  fill: var(--hy-black);
}
