.record-collections-col a polygon {
  fill: var(--hy-black);
}

.record-collections-col {
}

.record-collections-move-to-collection {
  display: flex;
  flex-direction: end;
  justify-content: end;
}
