.record {
  height: calc(100dvh - var(--header-height));
}

.record-row {
  max-height: calc(100% - var(--right-bottom-bar-height));
  height: calc(100% - var(--right-bottom-bar-height));
  overflow: auto;
}

.top-row-container::after {
  content: "";
  background-color: var(--hy-light-silver);
  height: 3px;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 4px;
}

.top-row-container {
  top: 0;
  background-color: var(--hy-white);
  z-index: 1;
}

@media (min-height: 480px) {
  .top-row-container {
    position: sticky;
  }
}

@media (max-height: 480px) {
  .record {
    height: auto;
  }
}