.collection-moodle-course {
    border: 1px solid var(--hy-silver);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

.collection-moodle-course-label {
    color: var(--hy-black);
    flex-shrink: 1;
    padding-left: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.collection-moodle-course-action {
    padding-bottom: 3px;
}

.collection-moodle-course-action polygon {
    fill: var(--hy-red);
}

.collection-moodle-course-disabled .collection-moodle-course-action polygon {
    fill: var(--hy-medium-silver);
}
