.collection-moodle-courses-list {
    padding-left: 0px;
    width: 100%;
}

.collection-moodle-courses-list li {
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 1em;
}

.collection-moodle-courses-add-button {
  height: 100%;
}
