.collection-moodle-courses-list {
    padding-left: 0;
    width: 100%;
}

.collection-moodle-courses-list li {
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 1em;
}

.collection-moodle-courses-input {
  display: flex;
  justify-content: space-between;
}

.collection-moodle-courses-input input {
  flex-shrink: 1;
}

.collection-moodle-courses-add-button {
  margin-left: 8px;
}

.collection-moodle-courses-limit-exceeded {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--hy-light-silver);
  padding: 8px 4px 8px 4px;
  margin-bottom: 8px;
}
