.crumb {
  padding: 0px;
  text-decoration: initial;
  font-weight: 500;
  color: var(--hy-blue);
}

.crumb.crumb-disabled {
  color: var(--hy-light-gray);
}

a.crumb:hover {
  text-decoration: underline;
}

.crumb-heading {
  font-size: 1em;
  display: inline;
  word-break: break-all;
}
