.form-element-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  word-break: break-all;
}

.form-element-header label {
  font-size: 1.2rem;
}


.form-element-header svg {
  min-width: 1.5em;
  min-height: 1.5em;
}
