.form-element-header {
  display: flex;
  justify-content: start;
  align-content: center;
}

.form-element-header > :first-of-type {
  margin-right: 8px;
}

.form-element-header label {
  font-size: 1.2rem;
}


.form-element-header svg {
  min-width: 1.5em;
  min-height: 1.5em;
}
