.record-subtitle-file {
  display: flex;
  flex-direction: column;
}

.record-subtitle-file > div {
  display: flex;
}

.record-subtitle-file-language {
  margin-top: 5px;
  padding-right: 0px;
  min-width: 85px;
}

.record-subtitle-file-input {
  width: 320px;
  margin-right: 2px;
}

.record-subtitle-file-input-strike-through {
  text-decoration: line-through;
  width: 320px;
  margin-right: 2px;
}
