.collection-keywords-list {
    padding-left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.6em;
}

.collection-keywords-list li {
    display: inline-block;
}

.collection-keywords-input {
    display: flex;
    justify-content: space-between;
}

.collection-keywords-input input {
    flex-shrink: 1;
}

.collection-keywords-add-button {
    margin-left: 8px;
}
