.collection-records-record-col li {
  list-style: none;
  display: inline-block;
  margin-right: 0.5em;
}

.collection-records-list-row {
  max-height: 175px;
  overflow: auto;
}

.collection-records-no-records {
  width: 100%;
  background-color: var(--hy-light-silver);
}

.collection-records-no-records p {
  padding: 10px;
}
