.search > input {
  border-radius: 0;
  padding: 10px;
  border-right: 0px;
}

.search input:focus-visible {
  outline: 2px solid var(--hy-blue);
  border: 0px;
  margin: 1px;
  border-radius: 0;
  box-shadow: initial;
  transition: none;
}

.search .form-control {
  transition: none;
}

.disabled-icon {
  pointer-events: none;
}

.search input:focus-visible + .removeIconContainer + .searchIconContainer {
  outline: 2px solid var(--hy-blue);
  border: 0px;
  background-color: var(--hy-blue);
  margin: 1px;
}

.search input:focus-visible + .removeIconContainer + .searchIconContainer > svg path {
  fill: var(--hy-white);
}

.search .input-group-text,
.search .removeIconContainer {
  background-color: var(--hy-white);
  border-radius: 0;
}

.search .removeIconContainer {
  border-left: none;
}
