.header-menu:hover svg polygon {
  fill: var(--huds-brand-main);
}

.header-menu svg polygon {
  fill: var(--hy-dark-gray);
}

.header-menu button {
  padding: unset;
  background-color: inherit;
  border: unset;
}
