.breadcrumb-container::after {
  content: "";
  background-color: var(--hy-light-silver);
  height: 3px;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 1em;
}

.breadcrumb-container {
  position: sticky;
  top: 0px;
  background-color: var(--hy-white);
  z-index: 1;
}
