.right {
  position: relative;
}

.right-main-content-col {
  max-height: calc(100vh - var(--header-height));
  height: calc(100vh - var(--header-height));
  overflow: auto;
}

.right-bottom {
  position: absolute;
  bottom: 0px;
  height: var(--right-bottom-bar-height);
  width: 100%;
  background-color: var(--hy-white);
  border-top: 3px solid var(--hy-medium-silver);
}
