.top-row {
  display: flex;
  align-items: center;
}

@media (min-width: 992px) {
  .top-row {
    min-width: max-content;
  }
}

.top-row ul {
  margin-bottom: 0px;
}

.top-row div {
  margin: 4px;
}

.top-row div:last-of-type {
  margin-right: 0px;
}
