footer {
  background-color: var(--hy-black);
  padding-top: 20px;
  padding-bottom: 20px;
}

footer p {
  color: var(--hy-white);
}

footer ul {
  list-style: none;
}

footer li > a {
  color: var(--hy-white);
}

@media (max-width: 992px) {
  footer {
    text-align: center;
  }

  .footer-hy-logo {
    text-align: center !important;
  }
}
