footer {
  background-color: var(--hy-black);
  padding-top: 20px;
  padding-bottom: 20px;
}

p {
  color: var(--hy-white);
}

ul {
  list-style: none;
}

li > a {
  color: var(--hy-white);
}

@media (max-width: 576px) {
  footer {
    text-align: center;
  }
}
