.root {
}

.root-main-row {
  min-height: calc(100dvh - var(--header-height));
}

.header-row {
  box-sizing: border-box;
  height: var(--header-height);
}

.root-main-row > aside {
  padding-right: 0px;
}
