.root {
}

.root-main-row {
  height: calc(100vh - var(--header-height));
  max-height: calc(100vh - var(--header-height));
}

.root-main-row-left-col {
}

.root-main-row-right-col {
}

.header-row {
  box-sizing: border-box;
  height: var(--header-height);
}
