.left {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: calc(100vh - var(--header-height) - var(--right-bottom-bar-height));
}

.up-left {
  background-color: var(--hy-white);
}

.left-down {
  overflow: auto;
  padding-left: 12px;
  padding-right: 12px;
}

.left-no {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--hy-light-silver);
  text-align: center;
}

.left-no p {
  padding: 10px;
}
