.left {
  overflow: auto;
  max-height: 100%;
}

.left-up-left-container {
  position: sticky;
  top: 0px;
}

.up-left {
  background-color: var(--hy-white);
}

.left-tab-content-row {
}

.left-list-col {
}
