.card-tag {
  border-radius: 0;
}

.card-tag.badge.bg-danger {
  background-color: var(--hy-red-alert) !important;
}

.card-tag.badge.bg-primary {
  background-color: var(--huds-brand-main) !important;
}

.card-tag.badge.bg-warning {
  background-color: var(--hy-orange) !important;
  color: var(--hy-black);
}
