.hy-button {
  background-color: unset;
  border: unset;
  padding: unset;

  box-sizing: border-box;

  --hy-button-y-padding: 8px;
  --hy-button-x-padding: 8px;
  --hy-button-border: 2px;
  min-width: max-content;
}

.hy-button-mini {
  --hy-button-y-padding: 2px;
  --hy-button-x-padding: 4px;
  --hy-button-border: 1px;
}

.hy-button:disabled {
  cursor: not-allowed;
}

.hy-button-content {
  background-color: var(--hy-button-background-color);
  color: var(--hy-button-text-color);
  border: var(--hy-button-border) solid var(--hy-button-border-color);
  padding: var(--hy-button-y-padding) var(--hy-button-x-padding) var(--hy-button-y-padding) var(--hy-button-x-padding);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.hy-button-icon {
  min-width: 1em;
  min-height: 1em;
  color: var(--hy-button-text-color);
  display: flex;
}

.hy-button-icon svg {
  min-width: 1em;
  min-height: 1em;
}

.hy-button-icon svg * {
  fill: var(--hy-button-text-color);
}

.hy-button-icon-separator {
  background-color: var(--hy-button-icon-separator-color);
  width: 1px;
  height: 1.2em;
}

.hy-button-mini .hy-button-icon-separator {
  background-color: var(--hy-button-background-color);
  margin-left: 1px;
  margin-right: 1px;
}

.hy-button-bottom {
  height: 2px;
  margin-left: 1%;
  width: 98%;
  margin-right: 1%;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  background-color: var(--hy-button-bottom-color);
}

.hy-button-mini .hy-button-bottom {
  height: 1px;
  margin-left: 2%;
  width: 96%;
  margin-right: 2%;
}

.hy-button-primary {
  --hy-button-background-color: var(--huds-brand-main);
  --hy-button-text-color: var(--hy-white);
  --hy-button-border-color: var(--huds-brand-main);
  --hy-button-bottom-color: var(--huds-additional-skyblue);
  --hy-button-icon-separator-color: var(--huds-additional-skyblue);
}

.hy-button-primary:disabled {
  --hy-button-background-color: var(--huds-grayscale-medium);
  --hy-button-text-color: var(--huds-grayscale-dark);
  --hy-button-border-color: var(--huds-grayscale-medium);
  --hy-button-bottom-color: var(--huds-grayscale-medium-dark);
}

.hy-button-primary:enabled:hover {
  --hy-button-background-color: var(--huds-brand-main-active);
  --hy-button-border-color: var(--huds-brand-main-active);
}

.hy-button-primary:enabled:active {
  --hy-button-background-color: var(--huds-brand-main-dark);
}

.hy-button-secondary {
  --hy-button-background-color: var(--huds-grayscale-white);
  --hy-button-text-color: var(--huds-brand-main);
  --hy-button-border-color: var(--huds-brand-main);
  --hy-button-bottom-color: var(--huds-additional-skyblue);
}

.hy-button-secondary:hover {
  --hy-button-text-color: var(--huds-brand-main-active);
  --hy-button-border-color: var(--huds-brand-main-active);
}

.hy-button-secondary:disabled {
  --hy-button-text-color: var(--huds-grayscale-medium-dark);
  --hy-button-border-color: var(--huds-grayscale-medium-dark);
  --hy-button-bottom-color: var(--huds-grayscale-medium-dark);
}

.hy-button-danger {
  --hy-button-background-color: var(--huds-additional-red-dark);
  --hy-button-text-color: var(--hy-white);
  --hy-button-border-color: var(--huds-additional-red-dark);
  --hy-button-bottom-color: var(--huds-additional-red-light);
  --hy-button-icon-separator-color: var(--hy-white);
}

.hy-button-danger:disabled {
  --hy-button-background-color: var(--huds-additional-red-light);
  --hy-button-border-color: var(--huds-additional-red-light);
  --hy-button-bottom-color: var(--huds-additional-red-dark);
  --hy-button-background-color: #a3585f;
  --hy-button-border-color: #a3585f;
}

.hy-button-danger:enabled:hover {
  --hy-button-background-color: var(--huds-additional-red-dark-active);
  --hy-button-border-color: var(--huds-additional-red-dark-active);
}
