.hy-menu {
  display: flex;
  position: relative;
  width: max-content;
  
}

.hy-menu-container {
  display: flex;
  position: absolute;

  background-color: var(--hy-white);
  border-radius: 4px;
  box-shadow: 0px 2px 8px var(--hy-silver);

  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;

  top: 80%;
  z-index: 2;
}

.hy-menu-container-left {
  left: 4px;
}

.hy-menu-container-right {
  right: 4px;
}

.hy-menu-container > ul {
  list-style: none;
  margin: unset;
  padding: unset;
}

.hy-menu-button {
  background-color: unset;
  border: unset;
  margin: unset;
  padding: unset;
}

.hy-menu-item {
  min-width: 120px;
  margin-bottom: 4px;
}

.hy-menu-item > button {
  background-color: unset;
  border: unset;
  margin: unset;
  padding: 8px;
  text-align: start;
  text-transform: uppercase;
  color: var(--huds-brand-main-light);
  font-weight: 600;
  min-width: 100%;
}

.hy-menu-item:hover {
  background-color: var(--huds-grayscale-hover);
  cursor: pointer;
}

.hy-menu-item-disabled > span {
  color: var(--hy-silver);
  text-align: start;
  text-transform: uppercase;
  font-weight: 600;
  min-width: 100%;
}

.hy-menu-item-disabled:hover {
  color: var(--hy-silver);
  background-color: unset;
}

.hy-menu-item-selected {
  border: 2px solid black;
}

.hy-menu-item-selected button {
  color: var(--hy-black);
}
