.record-card-details {
  list-style: none;
}

.record-card-details-deleted {
  text-decoration: line-through;
}

.record-card-details > div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.record-card-details-created {
  margin-bottom: 0px;
  font-size: 0.9em;
}

.no-overflow {
  white-space: initial !important;
  text-overflow: initial !important; 
}
