.record-card-thumbnail {
  background-color: var(--hy-white);
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--hy-silver);
  max-height: 160px;
  max-width: 160px;
}

.record-card-thumbnail img {
  min-width: 160px;
  min-height: 160px;
  max-width: 160px;
  max-height: 160px;
  object-fit: cover;
  display: block;
}
