.record-card {
  border: 1px solid var(--hy-silver);
}

.record-card:hover {
  cursor: pointer;
  background-color: var(--hy-light-silver);
}

.record-card-selected {
  background-color: var(--hy-light-silver);
}

.record-card:hover .record-card-details strong {
  text-decoration: underline;
} 
