.collection-container {
  height: calc(100dvh - var(--header-height));
}

.collection-form-row {
  max-height: calc(100% - var(--right-bottom-bar-height));
  height: calc(100% - var(--right-bottom-bar-height));
  overflow: auto;
}

@media (max-width: 480px) {
  .collection-container {
    height: auto;
  }
}