.collection-identifier-main-container {
    display: flex;
}

.collection-identifier-copy-button button {
    padding: 0;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
}

.collection-identifier-copy-button span {
    font-size: 1em;
}

.collection-identifier-copy-button button svg {
    margin-right: 0.2em;
    width: 1em;
    height: 1em;
}