.new-collection-form {
  overflow: auto;
}

.new-collection-button {
  width: 100%;
  margin-bottom: 1rem !important;
}

.new-collection-form .modal-body > .container {
  margin-bottom: 10px;
}

.new-collection-form .content-types-container {
  padding-left: unset;
  padding-right: unset;
}